<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Algoritms | Binary Search</title>
</head>
<body>
  <div class="linkwrap">
    <a href="/view/algoritms/">На главную раздела</a>
  </div>

  <section class="workarea">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Binary Search</h2>
          <p>Краткое описание задачи и принципа решения</p>
        </div>
        <div class="col-6">
          <h2>Code</h2>
          <pre>
            <code>
              const array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15];
              let count = 0;

              function BinarySearch(array, item) {
                let start = 0;
                let end = array.length;
                let middle; 
                let found = false;
                let position = -1;
                while (found === false 'and' start 'меньше или равно' end) {
                  count += 1;
                  middle = Math.floor((start + end) / 2);
                  if (array[middle] === item) {
                    found = true;
                    position = middle;
                    return position;
                  }
                  if (item 'меньше' array[middle]) {
                    end = middle - 1;
                  } else {
                    start = middle + 1;
                  }
                }
                return position;
              }

              console.log(BinarySearch(array, 1));
              console.log(count);
            </code>
          </pre>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="reference">
            <li><a href="https://learn.javascript.ru/" target="_blank">Современный учебник JavaScript</a>Учебно-справочный ресурс</li>
            <li><a href="https://doka.guide/js/while/" target="_blank">While</a>Управляющая конструкция, которая создаёт цикл</li>
            <li><a href="https://clck.ru/3Aa8TY" target="_blank">Логические операторы</a>Составляем сложные логические условия</li>
            <li><a href="https://clck.ru/3Aa8iB" target="_blank">Объект Math</a>Округляем разными способами</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    const array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15];
    let count = 0;

    function BinarySearch(array, item) {
      let start = 0;
      let end = array.length;
      let middle;  // Объявлена, но не применяется до цикла
      let found = false;
      let position = -1;
      while (found === false && start <= end) {
        count += 1;
        middle = Math.floor((start + end) / 2);
        if (array[middle] === item) {
          found = true;
          position = middle;
          return position;
        }
        if (item < array[middle]) {
          end = middle - 1;
        } else {
          start = middle + 1;
        }
      }
      return position;
    }

    console.log(BinarySearch(array, 1));
    console.log(count);
  </script>

  <script type="module" src="/src/main.ts"></script>
</body>
</html>
