<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Algoritms | Selection Sort</title>
</head>
<body>
  <div class="linkwrap">
    <a href="/view/algoritms/">На главную раздела</a>
  </div>

  <section class="workarea">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Selection Sort</h2>
          <p>Краткое описание задачи и принципа решения</p>
        </div>
        <div class="col-6">
          <h2>Code</h2>
          <pre>
            <code>
              
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
  
  <script></script>

  <script type="module" src="/src/main.ts"></script>
</body>
</html>
