<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Algoritms | Linear search</title>
</head>
<body>
  <div class="linkwrap">
    <a href="/view/algoritms/">На главную раздела</a>
  </div>

  <section class="workarea">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Linear search</h2>
          <p>Краткое описание задачи и принципа решения</p>
        </div>
        <div class="col-6">
          <h2>Code</h2>
          <pre>
            <code>
              const numberList = [3,7,23,12,9,5,3,4,8,11];
              let count = 0;

              function LinearSearch(numberList, item) {
                for (let i = 0; i 'less' numberList.length; i++) {
                  count += 1;
                  if(numberList[i] === item) {
                    return i;
                  }
                }
                return 'Item not found';
              }

              console.log(LinearSearch(numberList, 12));
              console.log('count = ', count);
            </code>
          </pre>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="reference">
            <li><a href="https://learn.javascript.ru/" target="_blank">Современный учебник JavaScript</a>Использовать как справочное пособие</li>
            <li><a href="https://clck.ru/3AZhjm" target="_blank">length</a>Свойство, которое возвращает количество элементов в массиве</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
    const numberList = [3,7,23,12,9,5,3,4,8,11];
    let count = 0;

    function LinearSearch(numberList, item) {
      for (let i = 0; i < numberList.length; i++) {
        count += 1;
        if(numberList[i] === item) {
          return i;
        }
      }
      return 'Item not found';
    }

    console.log(LinearSearch(numberList, 12));
    console.log('count = ', count);
    
  </script>

  <script type="module" src="/src/main.ts"></script>
</body>
</html>
