<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/logo/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UI Start | Algoritms</title>
</head>
<body>
  <div class="linkwrap">
    <a href="/">Entryway</a>
  </div>

  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="entryway-menu">
            <li><a href="./linearsearch/">Linear Search</a></li>
            <li><a href="./binarysearch/">Binary Search</a></li>
            <li><a href="./selectionsort/">Selection Sort</a></li>
            <li><a href="./bubblesort/">Bubble Sort</a></li>
            <li><a href="./quicksort/">Quick Sort</a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="entryway-menu">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="entryway-menu">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script type="module" src="/src/main.ts"></script>
</body>
</html>
