.wrapper{
  padding: 50px 0;
}

.entryway-menu{
  li+li{
    margin-top: 1rem;
  }
}

.linkwrap{
  display: block;
  width: 100%;
  padding: 25px 0;
  padding-left: 50px;
}

.entryway-menu,
.linkwrap{
  a{
    color: #111;
    transition: all .25s ease;
    text-decoration: none;
    &:hover{
      color: #f00;
    }
  }
}

.workarea{
  position: relative;
  height: auto;
  min-height: 200px;
  padding: 50px 0;
  background-color: rgba(32, 178, 170, .1);
  h2{
    font-size: 20px;
    padding-bottom: 1rem;
    color: #0078D7;
  }
  .reference{
    padding-top: 1rem;
    li+li{
      margin-top: .35rem;
    }
    a{
      text-decoration: none;
      font-weight: 600;
      color: #0078D7;
      display: inline-block;
      padding-right: 1rem;
      transition: all .2s ease;
      &:hover{
        color: #f00;
      }
    }
  }

}
